<div class="tab-pane active" id="geral">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info">
                    <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">IMC por Idade</h4>
                    </div>
                    <div class="col-md-6">
                        <div class="card-title">

                            <span title="adicionar" routerLink="new" class="material-icons pull-right pointer">
                                add_box
                            </span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <!-- <table class="table table-hover"> -->
                        <table class="table">
                            <thead class=" text-info">
                                <tr>
                                    <th>Idade</th>
                                    <th>IMC</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr *ngFor="let imc of resources">
                                    <td>
                                        <strong>{{+imc.idade - 9}} a {{imc.idade}}</strong><br>
                                    </td>
                                    <td>
                                        <strong>{{imc.imc}}</strong><br>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>