<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-3">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 col-lg-6 col-md-6 col-sm-6">
                            <img [src]="loadImage()" class="img-fluid p-1" alt="Gestão de Manutenção">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 ml-auto mr-auto my-auto p-4">
                            <form [formGroup]="resourceForm" (submit)="submitForm()"
                                class="form ng-untouched ng-pristine ng-valid p-3">
                                <div>
                                    <div>
                                        <h4 class="card-title text-center">Vamos criar uma senha?</h4>
                                        <span class="bmd-form-group">

                                            <mat-form-field class="example-full-width">

                                                <input type="password" matInput placeholder="Senha" id="newPassword" formControlName="newPassword">
    
                                                <mat-error *ngIf="mustShowErrorMessage(resourceForm.get('newPassword'))">
                                                    {{getErrorMessage(resourceForm.get('newPassword'), 'newPassword')}}
                                                </mat-error>
    
                                            </mat-form-field>
                                        </span>
                                        <span class="bmd-form-group">

                                            <mat-form-field class="example-full-width">

                                                <input type="password" matInput placeholder="Confirmar senha" id="confirmPassword" formControlName="confirmPassword">
    
                                                <mat-error *ngIf="mustShowErrorMessage(resourceForm.get('confirmPassword'))">
                                                    {{getErrorMessage(resourceForm.get('confirmPassword'), 'confirmPassword')}}
                                                </mat-error>
    
                                            </mat-form-field>
                                        </span>
                                    </div>
                                </div>

                                <div class="row align-items-center p-3">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" [disabled]="isDisabledForm"
                                            class="btn btn-lg btn-primary pull-center mat-raised-button">
                                            <span class="mat-button-wrapper"> Criar senha </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
