<div class="main-content">
    <div class="container-fluid">
        <div class="container background-login bg-gradient-primary">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="p-5">



                                        <form [formGroup]="resourceForm" (submit)="submitForm()">
                                            <div>
                                                <h4 class="card-title text-center">Vamos alterar a sua senha?</h4>

                                                <span class="bmd-form-group">
                                                    <mat-form-field class="example-full-width">
                                                        <input type="password" matInput placeholder="Nova senha"
                                                            id="newPassword" formControlName="newPassword">
                                                        <mat-error
                                                            *ngIf="mustShowErrorMessage(resourceForm.get('newPassword'))">
                                                            {{getErrorMessage(resourceForm.get('newPassword'),
                                                            'newPassword')}}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </span>

                                                <span class="bmd-form-group">
                                                    <mat-form-field class="example-full-width">
                                                        <input type="password" matInput placeholder="Senha atual"
                                                            id="oldPassword" formControlName="oldPassword">
                                                        <mat-error
                                                            *ngIf="mustShowErrorMessage(resourceForm.get('oldPassword'))">
                                                            {{getErrorMessage(resourceForm.get('oldPassword'),
                                                            'oldPassword')}}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </span>

                                                <div class="row align-items-center p-3">
                                                    <div class="col-md-12 text-center">
                                                        <button type="submit" [disabled]="isDisabledForm"
                                                            class="btn btn-lg btn-primary pull-center mat-raised-button">
                                                            <span class="mat-button-wrapper"> Alterar Senha </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>